@font-face {
	font-family: Inconsolata;
	src: local("Inconsolata"), url(https://fonts.gstatic.com/s/inconsolata/v10/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
